.keypad

	// icon close

	.keypad__close
		img(src="../img/close.png" alt="")

	// main keys

	.keypad__button.left
	.keypad__button.left
	.keypad__button.left
	.keypad__button.left
	.keypad__button.left
	.keypad__button.left
	.keypad__button.left.no-margin-right
	.keypad__button.left
	.keypad__button.left
	.keypad__button.left

	// function keys

	.keypad__button.right.no-margin-right
		.keypad__button__delete
	.keypad__button.right
		.keypad__button__clean