// title page
h1.title-page
  | Состояния приводов в ГЗ (НГЗ)

// tabs
.tabs
  .tabs__head

    // tabs
    .tabs__head__main
      .tab.tab__one.tab__active
        | Гермозона
      .tab.tab__two
        | Не гермозона
      .tab.tab__three
        | Уставки

  // tab content 1
  .tabs__content.tabs__content__one

    // column

    .engine-col.engine-col-active

      h4
        | Привод перемещения полотна 2А1

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0. 6%

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А2

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonAh" id="dimonAh")
          label.engine-checkbox-label.left.mr-8(for="dimonAh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchTwo")
              label(for="switchTwo")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А3

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonEh" id="dimonEh")
          label.engine-checkbox-label.left.mr-8(for="dimonEh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      // condition

      //.engine-condition
      //  | Р

      h4
        | Привод герметизации полотна 3А1

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonOh" id="dimonOh")
          label.engine-checkbox-label.left.mr-8(for="dimonOh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А2

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonqh" id="dimonqh")
          label.engine-checkbox-label.left.mr-8(for="dimonqh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А3

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonrh" id="dimonrh")
          label.engine-checkbox-label.left.mr-8(for="dimonrh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А4

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonth" id="dimonth")
          label.engine-checkbox-label.left.mr-8(for="dimonth")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме
    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А5

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimongh" id="dimongh")
          label.engine-checkbox-label.left.mr-8(for="dimongh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А6

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonbh" id="dimonbh")
          label.engine-checkbox-label.left.mr-8(for="dimonbh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-control-col-field

          // buttons controls

          // button column

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchThree")
              label(for="switchThree")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal
              img(src="../img/alarm.png" alt="lol")

          // di indictation
          //.engine-di-text-indication.engine-di-text-indication-gateway
          //| К раме

    // buttons

    .engines-buttons

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-true
        | Пуск

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-false
        | Стоп

      // switch

      .engine-switch
        p
          | Ручной

        input(type="checkbox" id="switch")
        label(for="switch")
          | 4444

        p
          | Автомат

      // read/write

      .read-write-status
        | неавторизованный - только чтение

      // place shpilek

      .engine-place-sh
        p
          | Положение шпилек
        input.engine-checkbox(type="checkbox" name="dimonih" id="dimonih")
        label.engine-checkbox-label.right.mr-8(for="dimonih")  

  // tab content 2
  .tabs__content.tabs__content__two

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А4

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0. 6%

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh")
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | К шлюзу

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А5

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonAh" id="dimonAh")
          label.engine-checkbox-label.left.mr-8(for="dimonAh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | К шлюзу

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А6

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonEh" id="dimonEh")
          label.engine-checkbox-label.left.mr-8(for="dimonEh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway.engine-di-text-indication-alarm
            | К шлюзу

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А7

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonOh" id="dimonOh")
          label.engine-checkbox-label.left.mr-8(for="dimonOh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А8

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonqh" id="dimonqh")
          label.engine-checkbox-label.left.mr-8(for="dimonqh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А9

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonrh" id="dimonrh")
          label.engine-checkbox-label.left.mr-8(for="dimonrh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А10

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonth" id="dimonth")
          label.engine-checkbox-label.left.mr-8(for="dimonth")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А11

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimongh" id="dimongh")
          label.engine-checkbox-label.left.mr-8(for="dimongh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А12

      // field

      .engine-col-field

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonbh" id="dimonbh")
          label.engine-checkbox-label.left.mr-8(for="dimonbh")

      // local col right

      .engine-di-text-indication-right-col      

        // field

        .engine-col-field

          // di indictation
          .engine-di-text-indication.engine-di-text-indication-gateway
            | загерметизирован

    // buttons

    .engines-buttons

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-true
        | Пуск

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-false
        | Стоп

      // switch

      .engine-switch
        p
          | Ручной

        input(type="checkbox" id="switch")
        label(for="switch")
          | 4444

        p
          | Автомат

      // read/write

      .read-write-status
        | неавторизованный - только чтение

      // place shpilek

      .engine-place-sh
        p
          | Положение шпилек
        input.engine-checkbox(type="checkbox" name="dimonih" id="dimonih")
        label.engine-checkbox-label.right.mr-8(for="dimonih")

  // tab content 3
  .tabs__content.tabs__content__three
    

    // field

    .engine-ust-field

      p
        | Значение СПЗО

      input(type="text")
      input(type="text")

      button
        | Сохранить

    // field

    .engine-ust-field

      p
        | Значение СПЗО

      input(type="text")
      input(type="text")

      button
        | Сохранить

    // field

    .engine-ust-field

      p
        | Значение СПЗО

      input(type="text")
      input(type="text")

      button
        | Сохранить