// title page
h1.title-page
  | Состояния приводов в ГЗ (НГЗ)

// tabs
.tabs
  .tabs__head

    // tabs
    .tabs__head__main
      .tab.tab__one.tab__active
        | ГЗ
      .tab.tab__two
        | НГЗ

    // subtabs
    .subtabs__head__main
      .subtab.subtab__two
        | выходные
      .subtab.subtab__one.subtab__active
        | входные

  // tab content 1
  .tabs__content.tabs__content__one

    // subtab content for IN
    .subtabs__content.subtabs__content__in
      


    // subtab content for OUTS
    .subtabs__content.subtabs__content__outs


  // tab content 2
  .tabs__content.tabs__content__two

    // subtab content for IN
    .subtabs__content.subtabs__content__in



    // subtab content for OUTS
    .subtabs__content.subtabs__content__outs



  // tab content 3
  .tabs__content.tabs__content__three

    // subtab content for IN
    .subtabs__content.subtabs__content__in


    // subtab content for OUTS
    .subtabs__content.subtabs__content__outs

