// title page
h1.title-page
  | Состояния приводов в ГЗ (НГЗ)

// tabs
.tabs.mt-40
  .tabs__head

    // tabs
    .tabs__head__main
      .tab.tab__one.tab__active
        | Гермозона
      .tab.tab__two
        | Не гермозона
      .tab.tab__three
        | Уставки СПЗО

  // tab content 1
  .tabs__content.tabs__content__one

    // column

    .engine-col.engine-col-active

      h4
        | Привод перемещения полотна 2А1

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top.engine-signal-terminal-true
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0. 6%

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А2

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А3

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      // condition

      //.engine-condition
      //  | Р

      h4
        | Привод герметизации полотна 3А1

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А2

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А3

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А4

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А5

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А6

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // buttons

    .engines-buttons

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-true.ml-2
        | Пуск

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-false
        | Стоп

      // switch

      .engine-switch
        p
          | Ручной

        input(type="checkbox" id="switch-mode")
        label(for="switch-mode")
          | 4444

        p
          | Автомат

      // switch zones

      .engine-switch
        p
          | К шлюзу

        input(type="checkbox" id="switch-zones")
        label(for="switch-zones")
          | 4444

        p
          | В ЗГЗ

      // read/write

      .read-write-status
        | только чтение

      // place shpilek

      .engine-place-sh
        p
          | Положение у шпилек
        input.engine-checkbox(type="checkbox" name="dimonih" id="dimonih")
        label.engine-checkbox-label.right.mr-8(for="dimonih")  

  // tab content 2
  .tabs__content.tabs__content__two

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2A4

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top.engine-signal-terminal-true
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0. 6%

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А5

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод перемещения полотна 2А6

      // field

      .engine-col-field

        // direction
        .engine-signal.engine-signal-top
          | Р

        p
          | Положение

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 %

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      // condition

      //.engine-condition
      //  | Р

      h4
        | Привод герметизации полотна 3А7

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А8

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А9

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А10

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А11

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // column

    .engine-col

      h4
        | Привод герметизации полотна 3А12

      // field

      .engine-col-field

        // germetizaciya
        .engine-signal.engine-signal-top
          | Г

      // field

      .engine-col-field

        p
          | Ток

        // progress

        .progress-bar-body

          // description
          .progress-bar-body-description
            | 0.6 А

          // poehali
          .progress-bar__poehali

      // field

      .engine-col-field.engine-col-pos-bottom

        // col left

        .engine-col-left

          .engine-checkbox-margin
            input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
            label.engine-checkbox-label.left.mr-8(for="dimonUh")

        // col right

        .engine-di-text-indication-right-col      

          .engine-control-column

            // engine direction

            .engine-control-direction            

              p
                | К раме

              input(type="checkbox" id="switchOne")
              label(for="switchOne")
                | 4444

              p
                | К шлюзу

            // signal alarm

            .engine-signal
              img(src="../img/terminal.png" alt="lol")

            .engine-signal.engine-signal-alarm-true
              img(src="../img/alarm.png" alt="@@")

    // buttons

    .engines-buttons

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-true.ml-2
        | Пуск

      button.btn-grey.btn-grey-big.left.engines-buttons-small.bg-false
        | Стоп

      // switch

      .engine-switch
        p
          | Ручной

        input(type="checkbox" id="switch-mode")
        label(for="switch-mode")
          | 4444

        p
          | Автомат

      // switch zones

      .engine-switch
        p
          | К шлюзу

        input(type="checkbox" id="switch-zones")
        label(for="switch-zones")
          | 4444

        p
          | В ЗГЗ

      // read/write

      .read-write-status
        | только чтение

      // place shpilek

      .engine-place-sh
        p
          | Положение у шпилек
        input.engine-checkbox(type="checkbox" name="dimonih" id="dimonih")
        label.engine-checkbox-label.right.mr-8(for="dimonih")  

  // tab content 3
  .tabs__content.tabs__content__three

    // title screen

    h3
      | Уставки для приводов ГЗ

    // SUB CONTENT 1 (ONE) SETTING ENGINE

    .engine-ust-field-container.tab-content-engine-body.tab-content-one-setting-engine

      // settings body

      .settings-body

        // item

        .settings-body__engine-item

          h3.settings-body__engine-item__title
            | Привод 2A1

      // settings body

      .settings-body

        // item

        .settings-body__engine-item

          // container

          .settings-body__container

            // column

            .settings-body__container__column

              h4
                | У рамы

            // column

            .settings-body__container__column

              h4
                | У шлюза

            // column

            .settings-body__container__column

              h4
                | У шпилек

            // column

            .settings-body__container__column

              h4
                | 

      // settings body

      .settings-body

        // item

        .settings-body__engine-item

          // container

          .settings-body__container

            // column

            .settings-body__container__column

              // control

              .settings-vals-container

                .settings-vals-container__control
                  .settings-vals-container__control_plus.bg-true
                    | +
                  .settings-vals-container__control_minus.bg-false
                    | -

                // input

                .settings-vals-container__input.settings-vals-container__input-write
                  | 30.0

                // input

                .settings-vals-container__input
                  | 50.0

            // column

            .settings-body__container__column

              .settings-vals-container

                .settings-vals-container__control
                  .settings-vals-container__control_plus.bg-true
                    | +
                  .settings-vals-container__control_minus.bg-false
                    | -


                // input

                .settings-vals-container__input.settings-vals-container__input-write
                  | 30.0

                // input

                .settings-vals-container__input
                  | 50.0

            // column

            .settings-body__container__column

              .settings-vals-container           

                .settings-vals-container__control
                  .settings-vals-container__control_plus.bg-true
                    | +
                  .settings-vals-container__control_minus.bg-false
                    | -

                // input

                .settings-vals-container__input.settings-vals-container__input-write
                  | 30.0

                // input

                .settings-vals-container__input
                  | 50.0

            // column

            .settings-body__container__column

              .settings-vals-container

                .settings-vals-container__control_name

                  .settings-vals-container__control_title
                    | чтение

                  .settings-vals-container__control_title
                    | запись

          // container

          .settings-body__container

            a(href="#" title="").btn.btn-small.w-150.h-40.center.settings-vals-container_button
              | сохранить

          // container

          .settings-body__container.settings-vals-container_switch

            ul

              li.settings-vals-container_switch_current
                | 2A1

              li
                | 2A2

              li
                | 2A3

              li
                | 2A4

              li
                | 2A5

              li
                | 2A6

    // SUB CONTENT 2 (TWO) SETTING ENGINE

    .engine-ust-field-container.tab-content-engine-body.tab-content-two-setting-engine
      | CONTENT FROM TAB #2

    // SUB CONTENT 3 (THREE) SETTING ENGINE

    .engine-ust-field-container.tab-content-engine-body.tab-content-three-setting-engine
      | CONTENT FROM TAB #3