// block analogs
.block.block__mini-journal.padding-10.main__position__bottom
	.title-block
		p
			| Последние события
	.block__mini-journal__body
		.block__mini-journal__body__messages

			// field for message

			.block__mini-journal__body__messages__field
				p.left
					|	Параметры в норме
				span.right
					|	06.06.17

			// field for message
			
			.block__mini-journal__body__messages__field.color-alarm
				p.left
					|	Авария
				span.right
					|	06.06.17

			// field for message
			
			.block__mini-journal__body__messages__field
				p.left
					|	Параметры в норме
				span.right
					|	06.06.17

			// field for message

			.block__mini-journal__body__messages__field
				p.left
					|	Параметры в норме
				span.right
					|	06.06.17

			// field for message
			
			.block__mini-journal__body__messages__field.color-alarm
				p.left
					|	Авария
				span.right
					|	06.06.17

			// field for message
			
			.block__mini-journal__body__messages__field
				p.left
					|	Параметры в норме
				span.right
					|	06.06.17

		a.btn.block__mini-journal__body__btn.btn-small.pos-a(href="#" title="")
			|	Журнал аварий
		//a.btn.block__mini-journal__body__btn.btn-small.pos-a.margin-left-140(href="./pages/journal.html" title="")
			|	Журнал аварий