// title page
h1.title-page
  | Поворот роликов

.mt-70

// title item

h2.title-rollers-item
  | НЕ ГЕРМОЗОНА

// rollers container

.rollers-container.mb-14

  // column

  .engine-col.engine-col-active

      h4
        | 4А1

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В зацеплении

  // column

  .engine-col

      h4
        | 4А2

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh")
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В расцеплении

  // column

  .engine-col

      h4
        | 4А3

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh")
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В расцеплении     

.rollers-container.mt-20.mb-14

  // buttons

  .rollers-buttons

    button.btn-grey.btn-grey-big.left.bg-true.btn-inline.mr-10
      | В зацепление

    button.btn-grey.btn-grey-big.left.bg-false.btn-inline.mr-40
      | Стоп

    button.btn-grey.btn-grey-big.left.bg-true.btn-inline.mr-10
      | В расцепление

    button.btn-grey.btn-grey-big.left.bg-false.btn-inline
      | Стоп

// KEK

hr.rollers-space

// title item

h2.title-rollers-item
  | ГЕРМОЗОНА

// rollers container

.rollers-container

  // column

  .engine-col.engine-col-active

      h4
        | 4А4

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh" checked)
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В зацеплении

  // column

  .engine-col

      h4
        | 4А5

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh")
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В расцеплении

  // column

  .engine-col

      h4
        | 4А6

      // field

      .engine-col-field

      // local  col left

      .engine-col-left

        .engine-checkbox-margin
          input.engine-checkbox(type="checkbox" name="dimonUh" id="dimonUh")
          label.engine-checkbox-label.left.mr-8(for="dimonUh")

      // local col right

      .engine-di-text-indication-right-col     

        // field

        .engine-col-field

          .engine-di-text-indication.engine-di-text-indication-gateway
            | В расцеплении

.rollers-container

  // buttons

  .rollers-buttons.mt-20

    button.btn-grey.btn-grey-big.left.bg-true.btn-inline.mr-10
      | В зацепление

    button.btn-grey.btn-grey-big.left.bg-false.btn-inline.mr-40
      | Стоп

    button.btn-grey.btn-grey-big.left.bg-true.btn-inline.mr-10
      | В расцепление

    button.btn-grey.btn-grey-big.left.bg-false.btn-inline
      | Стоп