//block 1
.block
  //field 1
  .block__field
    p
      |  Ворота ГЗ
    .status-message.right
      |  Закрыты
  //field 2
  .block__field
    p
      |  Ворота НГЗ
    .status-message.right
      |  Закрыты
  //field 3
  .block__field
    p
      |  Ворота откатные
    .status-message.right
      |  Открыты
  //field 4
  .block__field
    p
      |  Тележка
    .status-message.right
      |  Стоит
  //field 5
  .block__field
    p
      |  КВД ГЗ
    .status-message.right
      |  Закрыт
  //field 6
  .block__field
    p
      | КВД НГЗ
    .status-message.right
      |  Закрыт