// block analogs

.block.block__indication-plc.left.main__position__bottom
	.free-space-30
	.block__indication-plc__icon.block__indication-plc__icon__true
	p
		|	Плк в норме
	button.btn.bg-true.test-socket
		|	ПАВТО вкл