// block analogs

.block.block__indication-plc.left.main__position__bottom
	
	.block__indication-plc__icon.block__indication-plc__icon__true.center.mb-20.mt-10
	p
		|	Плк <br/> в норме
	//button.btn.bg-true.test-socket
		|	ПАВТО вкл

	.block__indication-plc__icon.block__indication__icon_general-average-false.center.mb-10.mt-20
	p
		| Общая авария <br/> Отсутствует
