	// block indication plc

	.block__indication-plc {
		padding-top: 23px;
		text-align: center;
		height: @height-block-indication-plc;

		p {
			margin-top: 4px;
			margin-bottom: 9px;
			font: 12px @pt-bold;
			text-transform: uppercase;
			color: @white;
		}
	}

	.block__indication-plc__icon {
		//margin: 0 auto;
		//margin-top: -6px;
		width: 34px;
		height: 34px;
	}

	// plc true

	.block__indication-plc__icon__true {
		background: url('../img/true-plc.png') no-repeat !important;
	}

	// plc false

	.block__indication-plc__icon__false {
		background: url('../img/false-plc.png') no-repeat !important;
	}

	.block__indication__icon_general-average-false {
		background: url('../img/general-average-normal.png') no-repeat;
	}

	.block__indication__icon_general-average-true {
		background: url('../img/general-average-fire.png') no-repeat;
	}

	// /block indication plc

