.navigation
	a.navigation__close(href="#" title="")
	h2
		|	Навигация
	ul
		li
			a(href="/" title="")
				| Главный экран
		li
			a(href="/pages/journal.html" title="")
				| Журнал событий	
		li
			a(href="/pages/engines.html" title="")
				| Состояния приводов ГЗ (НГЗ)		
		li
			a(href="/pages/debug.html" title="")
				| Отладка
		li
			a(href="/pages/designations.html" title="")
				| Обозначения

	hr

	ul
		li
			p.navigation__status-auth
				|	Вы зашли как Администратор /
			button.navigation__status-auth__exit
				| Выйти