//block 1
.block
  //field 1
  .block__field
    p
      |  Доступ в шлюз
    .status-message.right.true.color-true
      |  Разрешен
  //field 2
  .block__field
    p
      |  Режим работы СУ
    .status-message.right.true
      |  Автомат
  //field 3
  .block__field
    p
      |  Режим рб. шлюза
    .status-message.right.true
      |  Автомат