@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans-web-bold.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pt_sans-web-bolditalic.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('../fonts/pt_sans-web-italic.woff2') format('woff2'),
         url('../fonts/pt_sans-web-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans-web-regular.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}