@import '../styles/fonts.css';
@import '../styles/reset.css';
a,
a:hover,
li,
img,
input,
textarea {
  transition: all 0.5s ease-in-out;
}
body {
  -webkit-user-select: none;
  cursor: default;
  background: #1f253d;
  font: 14px 'pt_sansregular';
  color: #fff;
}
.content {
  line-height: 24px;
}
a,
a:hover {
  color: #1976aa;
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .title-page {
    margin: 30px 0 20px 0;
    font: 22px 'pt_sansbold';
    color: #fff;
  }
  .color-true {
    color: #11a8ab;
  }
  .color-alarm {
    color: #e64c65;
  }
  .conteiner {
    margin: 0 auto;
    position: relative;
    width: 992px;
    height: 736px;
    padding: 16px;
    overflow: hidden;
  }
  .column__left {
    float: left;
    width: 690px;
  }
  .column__right {
    float: right;
    width: 290px;
  }
  .padding-10 {
    padding: 10px !important;
  }
  .title-block {
    margin: -10px 0 0 -10px;
    position: absolute;
    width: 96.1%;
    height: 40px;
    padding: 0 2%;
    background: #50597b;
  }
  .title-block p {
    float: left;
    font: 16px 'pt_sansbold';
    line-height: 38px !important;
    color: #fff;
  }
  .block {
    padding: 17.5px;
    margin-bottom: 16px;
    background: #394264;
    color: #fff;
    font-size: 14px;
    font-family: 'pt_sansregular';
  }
  .block:last-child {
    margin-bottom: 0;
  }
  .block__field {
    margin-bottom: 10px;
    height: 32px;
  }
  .block__field:last-child {
    margin-bottom: 0;
  }
  .block__field p {
    float: left;
    line-height: 30px;
    font-size: 14px;
  }
  .right {
    float: right;
  }
  .left {
    float: left !important;
  }
  .center {
    margin: 0 auto;
  }
  .text-left {
    text-align: left;
  }
  .top {
    position: absolute;
    top: 0;
  }
  .bottom {
    position: absolute;
    bottom: 0;
  }
  .pos-a {
    position: absolute !important;
  }
  .status-message {
    width: 120px;
    height: 32px;
    background: #1f253d;
    text-align: center;
    border-right: 0 solid #1f253d;
    text-transform: uppercase;
    font: 14px 'pt_sansbold';
    line-height: 32px;
  }
  .status-circle {
    width: 24px;
    height: 24px;
    background: #1f253d;
    border-radius: 50%;
    overflow: hidden;
  }
  .status-circle__false {
    background: #1f253d;
  }
  .status-circle__false .status-circle__indication {
    background: #1f253d;
    border: 3px solid #50597b;
  }
  .status-circle__true {
    background: #50597b;
  }
  .status-circle__true .status-circle__indication {
    background: #e64c65;
    border: 3px solid #1f253d;
  }
  .status-circle__indication {
    margin: 2px 0 0 2px;
    width: 14px;
    height: 14px;
    background: #1f253d;
    border-radius: 50%;
  }
  .indication__analog {
    margin-left: 15px;
    display: block;
    padding: 4px 4px;
    width: 70px;
    background: #1f253d;
    border-radius: 4px;
  }
  .true {
    border-color: #11a8ab;
  }
  .false {
    border-color: #e64c65;
  }
  .bg-true {
    background: #11a8ab !important;
  }
  .bg-false {
    background: #e64c65 !important;
  }
  .btn-small {
    display: inline-block !important;
    height: 20px !important;
    background: #394264;
    line-height: 2px !important;
    border-radius: 2px !important;
  }
  .btn-small:hover,
  .btn-small:focus {
    background: #50597b;
  }
  .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 25px;
    font: 12px 'pt_sansbold';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px !important;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn:last-child {
    margin-bottom: 0;
  }
  .btn:hover {
    color: #fff;
  }
  .btn-grey {
    display: block;
    width: 100%;
    height: 24px;
    padding: 0 14px;
    background: #1f253d !important;
    border: 1px solid #50597b;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  .btn-grey:hover,
  .btn-grey:focus {
    background: #50597b !important;
  }
  .btn-grey-small {
    height: 24px;
    font: 12px 'pt_sansbold';
    text-transform: uppercase;
    color: #fff;
    line-height: 22px;
  }
  .btn-grey-big {
    height: 34px;
    font: 14px 'pt_sansbold';
    color: #fff !important;
    text-transform: uppercase;
    line-height: 34px;
    background: #000;
  }
  .btn-grey-big:hover,
  .btn-grey-big:focus {
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer !important;
    border-width: 0;
    border-color: #777;
    background-color: #50597b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #50597b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    border-width: 0;
    height: 50px !important;
    border-radius: 4px;
    background-color: #394264;
  }
  ::-webkit-scrollbar-track:hover {
    border-left: 0;
    background-color: #394264;
    border-radius: 4px;
  }
  .main__position__bottom {
    position: absolute !important;
    bottom: 16px !important;
  }
  .margin-10 {
    margin: 10px;
  }
  .mr-8 {
    margin-right: 8px;
  }
  .mr-40 {
    margin-right: 36px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .full-width {
    width: 100% !important;
  }
  .no-left {
    float: none !important;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .w-120 {
    width: 104px;
  }
  .w-290 {
    width: 250px;
  }
  .w-150 {
    width: 130px;
  }
  .w-190 {
    width: 190px;
  }
  .mt-20 {
    margin-top: 20px !important;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .pt-40 {
    padding-top: 40px !important;
    height: auto;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-70 {
    margin-top: 70px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .w-180 {
    width: 140px;
  }
  .w-190 {
    width: 160px;
  }
  .pt-140 {
    padding-top: 140px;
  }
  .no-margin-right {
    margin-right: 0 !important;
  }
  .mb-14 {
    margin-bottom: 34px;
  }
  img.about__bg {
    display: block;
    margin: 6% auto 6% auto;
    width: 880px;
    height: 454px;
  }
  .icon__close {
    top: -200px;
    right: -340px;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: url('../img/close.png') no-repeat;
  }
  .system-clock {
    margin-top: -2px;
    float: left;
    width: 150px;
    font: 16px 'pt_sansregular';
    color: #fff;
    line-height: 20px;
  }
  .display-none {
    display: none;
  }
  .free-space-30 {
    height: 30px;
  }
  .status-circle__norm {
    background: #50597b;
  }
  .status-circle__norm .status-circle__indication {
    background: #11a8ab;
    border: 3px solid #1f253d;
  }
}
@media only screen and (min-width: 1124px) {
  .conteiner {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -380px;
    width: 992px;
    height: 736px;
    padding: 16px;
    overflow: hidden;
  }
}
.block__analogs table {
  margin-top: -10px;
}
.block__analogs table tr:nth-child(1) td {
  width: 90px;
  text-align: center !important;
  line-height: 0px !important;
  height: 10px;
  padding-bottom: 10px;
}
.block__analogs table tr td {
  padding-top: 10px;
  width: 90px;
  text-align: center !important;
  vertical-align: middle;
  height: 20px;
}
.block__analogs table tr td p {
  margin-left: 14px;
  font-size: 14px;
}
.block__big-journal {
  position: absolute;
  margin-top: 8px !important;
  margin-left: 14px;
  display: block;
  width: 972px;
  height: 590px;
  margin-top: 0px;
  margin-bottom: 0;
  right: 0;
  left: 0;
}
.block__big-journal img {
  width: 100%;
  height: auto;
}
.block__big-journal__body {
  margin: 0px 0 0 0;
  height: 100%;
  overflow: hidden;
  background: #1f253d;
}
.block__big-journal__body__messages {
  height: 88%;
  overflow-y: scroll;
  margin: 6px 6px 10px 10px;
  background: #1f253d;
}
.block__big-journal__body__messages__field {
  margin-top: 4px;
  margin-right: 8px;
  background: #1f253d;
  padding-bottom: 2px;
  height: 24px;
  border-bottom: 1px solid #394264;
  font-size: 14px;
  line-height: 21px;
}
.block__big-journal__body__btn {
  width: 120px !important;
  margin: 3px 0 0 10px;
}
.margin-left-140 {
  margin-left: 140px;
}
.icon__full-screen {
  margin-top: 10px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: url('../img/full-screen.png') no-repeat;
}
.block__big-journal__body__messages::-webkit-scrollbar {
  width: 30px;
}
.block__big-journal__body__messages::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  border-width: 0;
  border-color: #777;
  background-color: #50597b;
  border-radius: 4px;
}
.block__big-journal__body__messages::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #50597b;
  border-radius: 4px;
}
.block__big-journal__body__messages::-webkit-scrollbar-track {
  border-width: 0;
  height: 50px !important;
  border-radius: 4px;
  background-color: #394264;
}
.block__big-journal__body__messages::-webkit-scrollbar-track:hover {
  border-left: 0;
  background-color: #394264;
  border-radius: 4px;
}
.height-40 {
  height: 40px !important;
  line-height: 40px !important;
}
.auth {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  background: url('../img/logo.png') no-repeat bottom center;
  text-align: center;
  color: #fff;
}
.auth h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.auth input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.auth input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.auth input[type="password"]:invalid {
  border-color: #e64c65;
}
.auth input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.auth input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.auth button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.auth button[type="submit"]:hover {
  background: #1f253d;
}
.auth__denied {
  display: none;
  margin-top: 110px;
  font: 24px 'pt_sansregular';
  color: #fff;
  text-align: center;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.block__cabintes table tr:nth-child(1) td {
  width: 90px;
  text-align: center !important;
  line-height: 12px;
  height: 16px;
}
.block__cabintes table tr:nth-child(2) td {
  padding-top: 10px;
  width: 90px;
  text-align: left !important;
  vertical-align: middle;
  height: 20px;
}
.current-operation {
  margin-top: 70px;
  position: absolute;
  height: 16px;
}
.current-operation p {
  font: 14px 'pt_sansregular';
  color: #fff;
}
.current-operation p span {
  font-family: 'pt_sansbold';
}
.engines {
  height: auto;
}
.engine-col {
  position: relative;
  margin: 10px 0 0 0;
  margin-left: 2px;
  margin-right: 10px;
  padding: 10px;
  float: left;
  width: 300px;
  color: #fff;
  overflow: hidden;
  border: 1px solid #4e5778;
  border-radius: 4px;
  font: 16px 'pt_sansbold';
}
.engine-col:nth-child(3n+3) {
  margin-left: 0;
  margin-right: 0;
}
.engine-col-field {
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}
.engine-col-field p {
  float: left;
  font: 16px 'pt_sansregular';
  line-height: 30px;
}
.progress-bar-body {
  position: relative;
  margin-top: 6px;
  float: right;
  height: 20px;
  width: 140px;
  background: #394264;
  border-radius: 4px;
}
.progress-bar__poehali {
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #50597b;
  border-radius: 4px 0 0 4px;
}
.progress-bar-body-description {
  z-index: 60;
  position: absolute;
  width: 100%;
  height: 20px;
  font: 14px 'pt_sansregular';
  text-align: center;
  line-height: 18px;
}
.engine-col-left {
  float: left;
  width: 100px;
}
.engine-di-text-indication-right-col {
  float: right;
  width: 180px;
}
.engine-di-text-indication {
  margin-bottom: 12px;
  display: block;
  float: right;
  width: 180px;
  height: 30px;
  background: #394264;
  border-radius: 4px;
  font: 14px 'pt_sansbold';
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}
.engine-di-text-indication:last-child {
  margin-bottom: 0;
}
.engine-di-text-indication-alarm {
  background: #e64c65;
}
.engine-di-text-indication-gateway {
  margin-top: 10px;
}
.engine-checkbox-margin {
  margin: 18px 0 0 0px;
}
input.engine-checkbox {
  display: none;
}
label.engine-checkbox-label {
  display: block;
  width: 28px;
  height: 28px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
}
input:checked.engine-checkbox + label.engine-checkbox-label:before {
  margin: 6px 0 0 6px;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #11a8ab;
  border-radius: 4px;
  content: "";
}
.engines-buttons {
  height: 30px;
}
.bg-true {
  background: #11a8ab !important;
}
.bg-true:hover,
.bg-true:focus {
  background: #11a8ab !important;
}
.bg-false {
  background: #e64c65 !important;
}
.bg-false:hover,
.bg-false:focus {
  background: #e64c65 !important;
}
.engines-buttons-small {
  margin: 20px 10px 0 0;
  width: 100px;
  border: 0;
  height: 30px;
  line-height: 2px !important;
}
.engine-switch {
  margin-top: 20px;
  margin-left: 30px;
  width: 200px;
  height: 30px;
  overflow: hidden;
  float: left;
}
.engine-switch p {
  float: left;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 26px;
  margin-right: 10px;
}
.engine-switch p:last-child {
  margin-left: 10px;
}
.engine-switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.engine-switch label {
  overflow: hidden;
  float: left;
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #50597b;
  display: block;
  border-radius: 100px;
  position: relative;
}
.engine-switch label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #394264;
  border-radius: 90px;
  transition: 0.4s;
}
.engine-switch input:checked + label {
  background: #11a8ab;
}
.engine-switch input:checked + label:after {
  left: calc(92%);
  transform: translateX(-100%);
  background: #fff;
}
.engine-switch label:active:after {
  width: 130px;
}
.engine-place-sh {
  margin-top: 21px;
  float: right;
  width: 180px;
  height: 30px;
  overflow: hidden;
}
.engine-place-sh p {
  float: left;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 24px;
}
.read-write-status {
  margin-top: 23px;
  float: left;
  height: 24px;
  padding: 0 10px;
  background: #f8f511;
  font: 12px 'pt_sansregular';
  text-transform: uppercase;
  line-height: 24px;
  color: #000;
  border-radius: 4px;
}
.engine-control-col-field {
  margin-left: -70px;
  margin-top: 18px;
  overflow: hidden;
  width: 280px;
}
.engine-control-direction {
  margin-top: 2px;
  float: left;
  width: 190px;
}
.engine-control-direction p {
  float: left;
  font: 12px 'pt_sansbold';
  color: #fff;
  line-height: 24px;
  margin-right: 10px;
  text-transform: uppercase;
}
.engine-control-direction p:last-child {
  margin-left: 10px;
}
.engine-control-direction input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.engine-control-direction label {
  overflow: hidden;
  float: left;
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: #50597b;
  display: block;
  border-radius: 100px;
  position: relative;
}
.engine-control-direction label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.4s;
}
.engine-control-direction input:checked + label {
  background: #11a8ab;
}
.engine-control-direction input:checked + label:after {
  left: calc(92%);
  transform: translateX(-100%);
  background: #fff;
}
.engine-control-direction label:active:after {
  width: 130px;
}
.engine-signal {
  margin-top: 2px;
  float: left;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  text-align: center !important;
  line-height: 24px;
  border-radius: 4px;
  background: #394264;
}
.engine-signal p {
  font: 14px 'pt_sansbold' !important;
  color: #fff !important;
  text-align: center !important;
  line-height: 25px !important;
}
.engine-signal img {
  margin: 4px 0 0 5px;
  display: block;
  width: 16px;
  height: 16px;
}
.engine-signal-top {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 25px;
  height: 25px;
}
.engine-signal-top p {
  font: 14px 'pt_sansbold' !important;
  color: #fff !important;
  text-align: center !important;
  line-height: 25px !important;
}
.engine-signal-alarm-true {
  background: #e64c65;
}
.engine-signal-terminal-true {
  background: #11a8ab;
}
.engine-col-active {
  margin-top: 8px !important;
  margin-left: 0px !important;
  margin-left: 0px;
  border-color: #11a8ab;
  border: 2px solid #11a8ab;
}
.engine-col-active:nth-child(3n+3) {
  margin-left: 0px !important;
  margin-right: 0;
}
.engine-condition {
  top: 11px;
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #394264;
  font: 14px 'pt_sansbold';
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
}
.engine-ust-field-container {
  margin: 30px auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.engine-ust-field {
  margin: 10px 20px 10px 4px;
  width: 480px;
  float: left;
  height: 25px;
  overflow: hidden;
}
.engine-ust-field:nth-child(even) {
  margin-right: 0;
}
.engine-ust-field p {
  margin-right: 10px;
  width: 230px;
  float: left;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 25px;
}
.engine-ust-field input[type=text] {
  padding: 0 10px;
  margin-right: 6px;
  float: left;
  width: 40px;
  height: 25px;
  font: 14px 'pt_sansregular';
  color: #000;
  text-align: center;
  line-height: 23px !important;
  border-radius: 4px;
  border: 0;
}
.engine-ust-field button {
  float: left;
  margin-left: 16px;
  width: 90px;
  height: 25px;
  border-radius: 4px;
  background: #11a8ab;
  font: 14px 'pt_sansbold';
  text-transform: uppercase;
  color: #fff;
}
.tabs__content h3 {
  margin: 20px 0;
  float: left;
  font: 20px 'pt_sansbold';
  color: #fff;
}
.tab-content-engine-body {
  height: auto;
}
.tab-links-body-setting-engine {
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 324px;
  height: 42px;
}
.tab-link-body-setting-engine {
  margin: 0 6px;
  padding: 0 10px;
  display: inline-block;
  height: 38px;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 36px;
  border-radius: 4px;
  background: #1f253d;
  border: 2px solid #394264;
}
.tab-link-active-setting-engine {
  background: #394264;
}
.tabs {
  height: auto;
}
.tabs__head {
  margin-top: 0px;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #50597b;
  z-index: 1;
}
.tabs__head__main {
  margin-top: 1px;
  position: absolute;
  width: 100%;
  height: 30px;
}
.tab {
  float: left;
  display: block;
  padding: 0 20px;
  height: 29px;
  font: 14px 'pt_sansbold';
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  background: #1f253d;
}
.tab__active {
  line-height: 29px;
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #50597b;
  border-right: 1px solid #50597b;
  border-left: 1px solid #50597b;
}
.subtabs__head__main {
  margin-top: 7px;
  position: absolute;
  width: 30%;
  right: 0;
  height: 22px;
}
.subtab {
  float: right;
  display: block;
  padding: 0 16px;
  font: 14px 'pt_sansregular';
  line-height: 22px;
  color: #fff;
}
.subtab__active {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #50597b;
  border-right: 1px solid #50597b;
  border-left: 1px solid #50597b;
  background: #50597b;
}
.subtabs__content {
  padding: 0 10px;
  margin-top: 10px;
  color: #fff;
}
.column {
  width: 300px;
  float: left;
  height: auto;
  overflow: hidden;
  display: block;
  margin-bottom: 6px;
}
.column__title-block {
  width: 100%;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #50597b;
  font: 16px 'pt_sansbold';
  color: #fff;
}
.column__field {
  margin-bottom: 4px;
  height: 14px;
}
.column__field p {
  float: left;
  font: 14px 'pt_sansregular';
  line-height: 14px;
  color: #fff;
}
input.checkbox {
  display: none;
}
label.checkbox-label {
  display: block;
  width: 13px;
  height: 13px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}
input:checked.checkbox + label.checkbox-label:before {
  margin: 1px 0 0 1px;
  position: absolute;
  width: 11px;
  height: 11px;
  background: url('../img/icon-checked.png') no-repeat;
  content: "";
  border-radius: 3px;
}
.gateway {
  display: block;
  margin-top: 177px;
  margin-bottom: 133px;
  position: absolute;
}
.gateway img {
  width: 100%;
  height: auto;
}
.gateway__body {
  margin-left: -182px;
  left: 50%;
  bottom: 3px;
  position: absolute;
  width: 168px;
  height: 131px;
  background: #1f253d;
  z-index: 8;
}
.gateway__mini-rail {
  margin-left: 4px;
  bottom: 0;
  position: absolute;
  width: 160px;
  height: 10px;
  background: url('../img/mini-rail.png') no-repeat;
}
.gateway__mini-rails-body {
  bottom: 14px;
  margin: 0 0 0 4px;
  position: absolute;
  width: 160px;
  height: 74px;
  background: 0;
}
.gateway__mini-rails-body-true {
  background: url('../img/rail-mini.png') no-repeat;
}
.gateway__mini-rails-body-false {
  background: 0;
}
.gateway__ngz {
  transition: all 0.5s ease-in-out;
  margin: -200px 0 0 177px;
  position: absolute;
  width: 39px;
  height: 211px;
}
.gateway__ngz-true {
  transform: translateY(56.8%);
  background: url('../img/gateway__gz.png') no-repeat;
  z-index: 101;
}
.gateway__gz {
  transition: all 0.5s ease-in-out;
  margin: -200px 0 0 -28px;
  position: absolute;
  width: 37px;
  height: 212px;
}
.gateway__gz-true {
  transform: translateY(56.8%);
  background: url('../img/gateway__ngz.png') no-repeat;
  z-index: 101;
}
.gateway__power {
  margin: -14px 0 0 77px;
  position: absolute;
  z-index: 11;
  width: 26px;
  height: 26px;
  background: #1f253d;
  border: 0px solid #1f253d;
  border-radius: 4px;
}
.gateway__power-false {
  background: #1f253d url('../img/truck__power-false.png') no-repeat;
}
.gateway__power-true {
  background: #1f253d url('../img/truck__power-true.png') no-repeat;
}
.gateway__truck {
  bottom: 15px;
  position: absolute;
  width: 116px;
  height: 34px;
  background: url('../img/truck.png') no-repeat;
  transition: all 2s linear !important;
  z-index: 99 !important;
}
.gateway__canvas__false {
  right: -132%;
  bottom: -1.1%;
  position: absolute;
  width: 31px;
  height: 117px;
  background: url('../img/gateway__canvas.png') no-repeat;
  z-index: 999;
}
.gateway__canvas__true {
  right: 20%;
  bottom: 0.6%;
  position: absolute;
  width: 31px;
  height: 112px;
  background: url('../img/gateway__canvas__true.png') no-repeat;
  z-index: 999;
}
.gateway__canvas__true__top {
  right: -135%;
  bottom: 4.1%;
  position: absolute;
  width: 12px;
  height: 95px;
  background: url('../img/gateway__canvas__true__top.png') no-repeat;
  z-index: 30 !important;
}
.gateway__canvas__true__bottom {
  right: -123%;
  bottom: -1%;
  position: absolute;
  width: 14px;
  height: 112px;
  background: url('../img/gateway__canvas__true__bottom.png') no-repeat;
  z-index: 100;
}
.gateway__truck__position-begin {
  left: 240%;
}
.gateway__truck__position-ngz {
  left: 137%;
}
.gateway__truck__position-middle {
  left: 14%;
}
.gateway__truck__position-end {
  left: -90%;
}
.gateway__truck__position__top {
  bottom: 40px;
}
.track-mini-rails__top {
  bottom: 24px;
}
.track-mini-rails-left-right__top {
  bottom: 40px;
}
.gateway__body__part-left {
  margin: 43px 10px 10px -8px;
  position: absolute;
  width: 8px;
  height: 88px;
  background: #fff;
  z-index: 100;
}
.gateway__body__part-right {
  margin: 43px 10px 10px 168px;
  position: absolute;
  width: 9px;
  height: 88px;
  background: #fff;
  border-right: 4px solid #1f253d;
  z-index: 100;
}
.header {
  margin: 0 0 0 0px;
  height: 38px;
  overflow: hidden;
}
.header__logo {
  margin-top: 4px;
  display: block;
  float: left;
}
.header__logo img {
  width: 126px;
  height: 26px;
}
.header__border__right {
  display: block;
  margin: 0 10px;
  float: left;
  width: 1px;
  height: 38px;
  background: #50597b;
}
.header__about-screen {
  margin-top: 6px;
  margin-left: 0px;
  height: auto;
  text-align: left;
  float: left;
}
.header__about-screen p {
  margin-top: -5px;
  margin-bottom: 0;
  font: 14px 'pt_sansregular';
  color: #fff;
  line-height: 21px;
}
.icon__menu {
  margin-top: 9px;
  margin-right: 3px;
  float: right;
  cursor: pointer;
  width: 92px;
  height: 26px;
  background: url('../img/icon-menu.png') no-repeat right;
}
.block__indication-plc {
  padding-top: 23px;
  text-align: center;
  height: 180px;
}
.block__indication-plc p {
  margin-top: 4px;
  margin-bottom: 9px;
  font: 12px 'pt_sansbold';
  text-transform: uppercase;
  color: #fff;
}
.block__indication-plc__icon {
  width: 34px;
  height: 34px;
}
.block__indication-plc__icon__true {
  background: url('../img/true-plc.png') no-repeat !important;
}
.block__indication-plc__icon__false {
  background: url('../img/false-plc.png') no-repeat !important;
}
.block__indication__icon_general-average-false {
  background: url('../img/general-average-normal.png') no-repeat;
}
.block__indication__icon_general-average-true {
  background: url('../img/general-average-fire.png') no-repeat;
}
.local-connection-error {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  text-align: center;
  color: #fff;
}
.local-connection-error h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.local-connection-error input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.local-connection-error input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.local-connection-error input[type="password"]:invalid {
  border-color: #e64c65;
}
.local-connection-error input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.local-connection-error input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.local-connection-error button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.local-connection-error button[type="submit"]:hover {
  background: #1f253d;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.local-connection-error__message {
  margin: 80px 0;
}
.local-connection-error__message img {
  width: 170px;
  height: 62px;
  margin-bottom: 20px;
}
.local-connection-error__message p {
  font: 16px 'pt_sansregular';
  color: #fff;
}
.keypad {
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: 100px;
  padding: 4px 10px 0px 10px;
  position: absolute;
  display: block;
  width: 372px;
  height: 118px;
  background: #394264;
  border-radius: 6px;
  z-index: 99999;
  display: none;
  border: 1px solid #444e76;
}
.keypad__button {
  position: relative;
  margin: 6px 6px 0 0;
  width: 48px;
  height: 48px;
  background: #1f253d;
  border-radius: 6px;
}
.keypad__button:before {
  margin: 1px 0 0 1px;
  position: absolute;
  content: "";
  width: 44px;
  height: 41px;
  background: #394264;
  border-radius: 6px;
  border: 1px solid #444e76;
  font: 24px 'pt_sansbold';
  color: #fff;
  text-align: center;
  line-height: 44px;
}
.keypad__button:active:before,
.keypad__button:focus:before {
  background: #1f253d;
}
.keypad__button:nth-child(2):before {
  content: "1";
}
.keypad__button:nth-child(3):before {
  content: "2";
}
.keypad__button:nth-child(4):before {
  content: "3";
}
.keypad__button:nth-child(5):before {
  content: "4";
}
.keypad__button:nth-child(6):before {
  content: "5";
}
.keypad__button:nth-child(7):before {
  content: "6";
}
.keypad__button:nth-child(8):before {
  content: "7";
}
.keypad__button:nth-child(9):before {
  content: "8";
}
.keypad__button:nth-child(10):before {
  content: "9";
}
.keypad__button:nth-child(11):before {
  content: "0";
}
.keypad__button__clean {
  margin: 14px 0 0 14px;
  position: absolute;
  width: 19px;
  height: 19px;
  background: url('../img/icon-clean.png') no-repeat;
}
.keypad__button__delete {
  margin: 14px 0 0 11px;
  position: absolute;
  width: 24px;
  height: 18px;
  background: url('../img/icon-delete.png') no-repeat;
}
.keypad__close {
  margin: -57px 0 0 0;
  position: absolute;
  right: -54px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}
.keypad__close img {
  display: block;
  margin: 18px 0 0 16px;
  width: 16px;
  height: 16px;
}
.auth__elements input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth__elements input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block__mini-journal {
  display: block;
  width: 526px;
  margin-top: 0px;
  margin-bottom: 0;
  right: 31.2%;
}
.block__mini-journal img {
  width: 100%;
  height: auto;
}
.block__mini-journal__body {
  margin: 40px 0 0 0;
  height: 160px;
  overflow: hidden;
  background: #1f253d;
}
.block__mini-journal__body__messages {
  height: 100px;
  overflow: hidden;
  margin: 6px 0px 20px 10px;
  background: #1f253d;
}
.block__mini-journal__body__messages__field {
  margin-top: 4px;
  margin-right: 8px;
  background: #1f253d;
  padding-bottom: 2px;
  height: 18px;
  border-bottom: 1px solid #394264;
  font-size: 15px;
  line-height: 15px;
}
.block__mini-journal__body__btn {
  padding: 4px 8px;
  width: auto !important;
  margin: -4px 0 0 10px !important;
  font-size: 14px !important;
}
.margin-left-140 {
  margin-left: 140px;
}
.block__mini-journal__btn-normal {
  width: auto !important;
  padding: 4px 10px !important;
  font-size: 14px !important;
}
.icon__full-screen {
  margin-top: 10px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: url('../img/full-screen.png') no-repeat;
}
.navigation {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 460px;
  background: url('../img/logo.png') no-repeat bottom center;
  text-align: center;
  color: #fff;
}
.navigation h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.navigation ul li a,
.navigation ul li a:hover {
  display: block;
  font: 18px 'pt_sansregular';
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}
.navigation ul li p {
  font: 12px 'pt_sansregular';
}
.navigation hr {
  margin: 8px 5%;
  display: block;
  width: auto;
  border: 0;
  height: 1px;
  background: #50597b;
}
.navigation__close {
  top: -124px;
  right: -332px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.navigation__status-auth,
.navigation__status-auth__exit {
  display: inline-block;
  height: 14px;
  font-size: 14px !important;
}
.navigation__status-auth__exit {
  padding: 0;
  width: 40px;
  background: 0;
  border: 0;
  outline: 0;
  color: #fff;
  font: 14px 'pt_sansregular';
  text-decoration: underline;
}
.navigation__status-auth__exit:hover {
  font-family: 'pt_sansbold';
  text-decoration: none;
}
.no-connection {
  border-radius: 30%;
  display: none;
  position: absolute;
  width: 300px;
  height: 320px;
  text-align: center;
  color: #fff;
}
.no-connection h2 {
  margin-bottom: 30px;
  font: 20px 'pt_sansbold';
  text-transform: uppercase;
}
.no-connection input[type="password"] {
  margin-top: 50px;
  padding: 0 10px;
  width: 160px;
  height: 30px;
  background: #1f253d;
  border: 1px solid #50597b;
  border-radius: 4px;
  content: "******";
  font: 14px 'pt_sansregular';
  color: #fff;
  margin-bottom: 20px;
}
.no-connection input[type="password"]::-webkit-input-placeholder {
  font: 14px 'pt_sansitalic';
  color: #fff;
}
.no-connection input[type="password"]:invalid {
  border-color: #e64c65;
}
.no-connection input[type="password"]:valid:required {
  border-color: #11a8ab !important;
}
.no-connection input[type="password"]:valid:required + button[type="submit"] {
  background: #11a8ab;
  border-color: #11a8ab;
}
.no-connection button[type="submit"] {
  background: #50597b;
  border: 1px solid #50597b;
  border-radius: 4px;
  color: #fff;
}
.no-connection button[type="submit"]:hover {
  background: #1f253d;
}
.auth__close {
  top: -200px;
  right: -340px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/close.png') no-repeat;
}
.no-connection__message {
  margin: 80px 0;
}
.no-connection__message img {
  margin-bottom: 20px;
  width: 70px;
  height: 34px;
}
.no-connection__message p {
  font: 16px 'pt_sansregular';
  color: #fff;
}
.status-plc {
  margin: 30px auto;
  width: 600px;
}
.status-plc__charge-level {
  margin-bottom: 20px;
  height: auto;
}
.status-plc__charge-level p {
  font: 18px 'pt_sansregular';
  text-align: left;
  color: #fff;
}
.status-plc__charge-level__container {
  margin-top: 14px;
  height: 24px;
  background: #394264;
  border-radius: 4px;
}
.status-plc__charge-level__body__progress {
  width: 10%;
  height: 24px;
  background: #50597b;
  border-radius: 4px 0 0 4px;
}
.status-plc__errors {
  height: auto;
  margin-top: 40px;
}
.status-plc__errors p {
  margin-bottom: 20px;
  font: 18px 'pt_sansregular';
  text-align: left;
  color: #fff;
}
.status-plc__errors__container {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 600px;
  height: 146px;
  background: #1f253d;
}
.status-plc__errors__container ul li {
  margin: 0 2px;
  border: 3px solid #394264;
  border-radius: 4px;
  float: left;
  width: 140px;
  height: 140px;
  background: #394264;
}
.status-plc__errors__container ul li p {
  margin-bottom: 0;
  height: 40px;
  background: #1f253d;
  font: 16px 'pt_sansbold';
  line-height: 38px;
  text-align: center;
}
.status-plc__errors__container ul li span {
  height: 80px;
  display: block;
  background: #394264;
  border-radius: 4px !important;
  margin: 2px 10px !important;
  margin-top: 10px !important;
  border: 2px solid #50597b;
  font: 16px 'pt_sansbold';
  text-align: center;
  line-height: 78px;
  color: #fff;
}
li.status-plc__errors__signal-error {
  border-color: #e64c65 !important;
}
li.status-plc__errors__signal-error p {
  background: #e64c65 !important;
}
li.status-plc__errors__signal-error span {
  border-color: #394264 !important;
  border-radius: 4px !important;
  margin: 2px 10px !important;
  margin-top: 10px !important;
  background: #e64c65 !important;
  font: 16px 'pt_sansbold';
  text-align: center;
  line-height: 78px;
  color: #fff;
}
.status-plc__other-status-info {
  margin-bottom: 20px;
  height: auto;
}
.status-plc__other-status-info p {
  margin-bottom: 20px;
  font: 18px 'pt_sansregular';
  text-align: left;
  color: #fff;
}
.status-plc__other-status-info small {
  margin-bottom: 10px;
  display: block;
  font: 16px 'pt_sansregular';
  color: #fff;
  text-align: left;
}
.status-plc__other-status-info__current-cpu-load-container,
.status-plc__other-status-info__mean-cpu-load-container {
  margin-bottom: 14px;
  height: 24px;
  background: #394264;
  border-radius: 4px;
}
.status-plc__other-status-info__current-cpu-load-container__progress,
.status-plc__other-status-info__mean-cpu-load-container__progress {
  width: 130px;
  height: 24px;
  background: #50597b;
  border-radius: 4px 0 0 4px;
}
.status-plc__other-status-info__mean-cpu-load-container__progress {
  width: 30%;
}
.status-plc__other-status-info__current-cpu-load-container__progress {
  width: 60%;
}
.status-plc__reset-errors {
  margin: 0 auto;
  margin-top: 40px;
  width: 140px;
  height: 38px;
}
.rollers-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  height: auto;
}
h2.title-rollers-item {
  margin-top: 14px;
  font: 20px 'pt_sansbold';
  color: #fff;
}
h4.rollers-description {
  font-size: 16px !important;
  text-align: right !important;
}
.rollers-buttons {
  height: auto;
  overflow: hidden;
}
.btn-inline {
  width: auto;
  padding: 0 14px;
  display: inline-block !important;
  border: 0;
}
hr.rollers-space {
  height: 1px;
  border: 0;
  background: #50597b;
}
ul.title-zones {
  margin-top: 394px;
  position: absolute;
  width: 100%;
  height: 14px;
}
ul.title-zones li {
  float: left;
  height: 14px;
  font: 14px 'pt_sansregular';
  text-align: center;
  line-height: 14px;
  color: #fff;
}
ul.title-zones li:nth-child(1) {
  width: 153px;
  margin-right: 12px;
}
ul.title-zones li:nth-child(2) {
  width: 166px;
  margin-right: 43px;
}
ul.title-zones li:nth-child(3) {
  width: 146px;
  margin-right: 31px;
}
ul.title-zones li:nth-child(4) {
  width: 136px;
  margin-right: 0px;
}
