// header
.header
  // logotype
  a.header__logo.link__auth(href="#" title=""): img(src="../img/logo.png" alt="")
  // border right
  .header__border__right
  // about screen
  .header__about-screen.display-none
    p
      |  Белорусская АЭС
    p
      |  Шкаф локального управления транспортным шлюзом

  // system clock
  .system-clock.link__no-connect
   p
    |  04 сентября 2017г.
   p
    |  14:25:43

  // icon menu
  .icon__menu