// block analogs
.block.block__analogs
  table
    tr
      td
      td
        p
          | Давление
      td
        p
          | Температура
    tr
      td
        p.text-left
          | ГЗ
      td
        span.indication__analog.color-true
          | 150.0 Па
      td
        span.indication__analog.color-false
          | 50 °C
    tr
      td
        p.text-left
          | Шлюз
      td
        span.indication__analog.color-false
          | 110.0 Па
      td
        span.indication__analog.color-true
          | 50 °C
    tr
      td
        p.text-left
          | НГЗ
      td
        span.indication__analog.color-false
          | 44.05 Па
      td
        span.indication__analog.color-true
          | 50 °C