// block gateway
.gateway
	.gateway__body

		// parts

		.gateway__body__part-left
		.gateway__body__part-right

		.gateway__ngz.gateway__ngz-false
		.gateway__gz.gateway__gz-false

		// rails, truck, main rail

		.gateway__mini-rails-body.gateway__mini-rails-body-true

		// canvas

		.gateway__canvas__true__top
		.gateway__canvas__true__bottom
		
		.gateway__truck.gateway__truck__position-begin.gateway__truck__position-ngz
			.gateway__power.gateway__power-true
		
		.gateway__mini-rail

		// / rails, truck, main rail


	// /canvas

	// background gateway

	img(src="../img/gateway.png" alt="")