// block cabinets
.block.block__cabintes
  table
    tr
      td
      td
        | ШК1
      td
        p
        | ШК2
      td
        p
        | ШК3
      td
        p
        | ШК4        
      td
        p
        | ШК5          
    tr
      td
        p
          | Авар выкл.
      td
        .status-circle.center.status-circle__true
          .status-circle__indication

      td
        .status-circle.center.status-circle__false
          .status-circle__indication
      td
        .status-circle.center.status-circle__true
          .status-circle__indication

      td
        .status-circle.center.status-circle__false
          .status-circle__indication
      td
        .status-circle.center.status-circle__true
          .status-circle__indication      